name: Java CI with Gradle and Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest 

    steps:
    - uses: actions/checkout@v4


    - name: Stop Running Server
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SERVER_KEY }}
        script: |

          sudo pkill -9 -f 'java -jar.*Inveny' || true
          sleep 5

    - name: Set up JDK 21 
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Build with Gradle 
      run: |
        cd backend
        chmod +x gradlew
        ./gradlew build -x test

    - name: Transfer to Server 
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.SERVER_HOST }} 
        username: ${{ secrets.SERVER_USER }} 
        key: ${{ secrets.SERVER_KEY }}
        source: "backend/build/libs/*SNAPSHOT.jar"
        target: "/home/ubuntu/app"
        strip_components: 2

    - name: Execute Server 
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SERVER_KEY }}
        script: |

          nohup java -Xmx512M -jar /home/ubuntu/app/libs/*SNAPSHOT.jar > /home/ubuntu/app.log 2>&1 < /dev/null &
          disown
          exit 0